<div [class]="containerClass">
    <div class="row company-add-button mb-3" *ngIf="userType == userAccessType.Company">
      <div class="form-floating">
        <button class="w-30 btn btn-sm btn-primary student-detail-container_add" type="submit">
          <span>Done - Remove from Short List</span>
        </button>
      </div>
    </div>
  
    <div class="card">
      <p-table #dt2 [value]="students" dataKey="id" [(selection)]="selectedStudents"
          [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['name','email','availability', 'college_id', 'international', 'completeSkills']"
          [reorderableColumns]="reorderableColumns">
          <ng-template pTemplate="caption">
              <div class="flex">
                  <span>List of candidates</span>
                  <span class="p-input-icon-left ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt2.filterGlobal(getSearchInputValue($event), 'contains')" placeholder="Search keyword" class="p-inputtext p-component p-element"/>
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem" *ngIf="userType == userAccessType.Company"></th>
              <!-- <th></th> -->
              <th scope="col" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th scope="col" pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
              <th scope="col" pSortableColumn="availability">Availability <p-sortIcon field="availability"></p-sortIcon></th>
              <th scope="col" pSortableColumn="college_id">College <p-sortIcon field="college_id"></p-sortIcon></th>
              <th scope="col" pSortableColumn="international">Type <p-sortIcon field="international"></p-sortIcon></th>
              <th scope="col" pSortableColumn="rank">Rank <p-sortIcon field="rank"></p-sortIcon></th>
              <th scope="col" pSortableColumn="completeSkills">Skills <p-sortIcon field="completeSkills"></p-sortIcon></th>
              <th *ngIf="userType == userAccessType.Admin"></th>
            </tr>
              <tr>
                  <th style="width: 3rem" *ngIf="userType == userAccessType.Company"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                  <!-- <th></th> -->
                  <th>
                      <p-columnFilter type="text" field="name"></p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter type="text" field="email"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="availability" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="availability" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="college_id" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="colleges" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="international" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="studentType" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                  </th>
                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="completeSkills"></p-columnFilter>
                  </th>
                  <th *ngIf="userType == userAccessType.Admin"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-student let-index="rowIndex">
              <tr [pReorderableRow]="index" *ngIf="student.first_name != null" class="p-selectable-row">
                <td *ngIf="userType == userAccessType.Company" style="padding: 1rem 1rem;">
                  <p-tableCheckbox [value]="student"></p-tableCheckbox>
                </td>
                <!-- <td (click)="viewStudent(student)">
                  <span class="pi pi-bars" [pReorderableRowHandle]="index" *ngIf="reorderableColumns"></span>
                  <div style="width: 30px; height: 30px; border-radius: 50%;">
                    <img src="assets/avatar-icon.jpeg" alt="" style="width: 30px; height: 30px; border-radius: 50%;">
                  </div>
                </td> -->
                <td (click)="viewStudent(student)">
                  {{ getName(student.first_name, student.last_name) }}
                </td>
                <td (click)="viewStudent(student)">
                  <span class="image-text">{{ student.email }}</span>
                </td>
                <td (click)="viewStudent(student)">
                  <span [class]="'image-text student-badge status-' + student.availability">{{ student.availability == 1 ? "AVAILABLE" : "UNAVAILABLE" }}</span>
                </td>
                <td (click)="viewStudent(student)">
                  <span *ngIf="student.college_id">{{ student.college.name }}</span>
                </td>
                <td (click)="viewStudent(student)">
                  <span>{{ studentType[student.international].label }}</span>
                </td>
                <td (click)="viewStudent(student)">
                  <span class="image-text">{{ student.rank }}</span>
                </td>
                <td (click)="viewStudent(student)">
                  <span class="image-text">{{ student.completeSkills }}</span>
                </td>
                <td *ngIf="userType == userAccessType.Admin">
                  <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text" (click)="deleteApplicant(student)"></button>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="5">No applicants found.</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
</div>
  