<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <div class="col-lg-4 col-md-4">
          <div class="row mb-4">
            <label class="text-left">New Password<span class="required">*</span></label>
            <div class="form-floating text-left">
              <input type="password"
                class="form-control"
                style="padding: 0.5rem;"
                id="floatingInput"
                [(ngModel)]="new_password"
                name="first_name"
                autocomplete="off">
                <span class="required" *ngIf="new_password == ''">New Password is required.</span>
            </div>
          </div>
          <div class="row">
            <label class="text-left">Confirm password<span class="required">*</span></label>
            <div class="form-floating text-left">
              <input type="password"
                class="form-control"
                style="padding: 0.5rem;"
                id="floatingInput"
                [(ngModel)]="confirm_password"
                name="email"
                autocomplete="off">
                <span class="required display-block" *ngIf="confirm_password == ''">Confirm password is required.</span>
                <span class="required display-block" *ngIf="confirm_password != null && confirm_password != new_password">Confirm password and New Password should be the same.</span>
            </div>
          </div>
          <div class="row mt-4" style=" margin: 0; ">
            <button 
            class="w-99 btn btn-lg btn-primary student-detail-container__submit-primary" 
            type="submit" 
            (click)="updatePasswordClick()"
            [disabled]="(new_password == null || confirm_password == null) || (new_password != confirm_password)">UPDATE</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
</div>